*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #FFAF8E;
    --color2: #B76337;
    --color3: #61A5AE;
    --color4: #F68B43;
    --color5: #F8EFDD;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color5);
}



.title{
    text-align: center;
    margin-top: 20px;
}

.title h2{
    font-size: 60px;
    color: #B76337;
}



h1{
    text-align: center;
    padding: 20px 0px;
}

.card-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.card{
    width: 35%;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card h3{
    color: black;
    font-size: large;
    margin-bottom: 5px;
}

.card h4{
    color: var(--color3);
    font-size: small;  
    padding: 10px; 
}


.card .buttons a{
    text-decoration: none;
}

.card .buttons a button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.card .buttons a .buy{
    background-color: var(--color3);
    color: aliceblue;
}

.card .buttons a .buy:hover{
    opacity: 0.8;
}


.card .buttons a .add{
    background-color: transparent;
}

/* footer */
