/* U-----------------------------------------------------U */
/* ---------------     Navigation  bar     ------------- */
/* U-----------------------------------------------------U */
.LOGO {
    width: 2.2cm;
}

.navbar {
    background-color: #ffaf8e;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}


.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
    text-align: center;
}

.navbar ul li a:hover {
    color: #ffaf8e;
}

/* U-----------------------------------------------------U */
/* ---------------   Button Styles in Navbar ------------- */
/* U-----------------------------------------------------U */

.login-button {
    background-color: #61A5AE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #B76337;
    transform: scale(1.1);
}

/* U-----------------------------------------------------U */
/* ---------------          ------------- */
/* U-----------------------------------------------------U */